.cover__link {
  text-decoration: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.cover__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.cover__link:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.8;
}

@media screen and (max-width:1279px) {
  .cover__link {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:1023px) {
  .cover__link {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:767px) {
  .cover__link {
    max-width: 100%;
    height: 100%;
  }
}