.header__lang-list {
  list-style: none;
  padding: 0;
  margin: 18px 0 6px;
  display: flex;
  align-items: flex-end;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-list {
    margin: 14px 0 8px;
  }
}